<div class="row">
    <div class="col-5 col-md-3 text-end">ChoreId :</div>
    <div class="col-7 col-md-9">@ChoreId</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Chore Name</div>
    <div class="col-7 col-md-9">@Chore.ChoreName</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Completion Status</div>
    <div class="col-7 col-md-9">@Chore.CompletionStatus</div>
</div>

@code {
  private Chore? Chore;

  [Parameter] public int ChoreId { get; set; }

  protected override void OnInitialized()
    {
        // get employee with {EmployeeId} from DB

        Chore = new Chore { ChoreId = 1, ChoreName = "Bust", CompletionStatus = "Completed" };

        base.OnInitialized();
    }
}